<div class="header__container">
  <div class="header__left">
    OuiSearch
  </div>
  <div class="header__right menu">
    <div class="menu__item">
      <a [routerLink]="['/home']" [routerLinkActive]="['is-active']"> HOME </a>
    </div>
    <div class="menu__item">
      <a [routerLink]="['/search']" [routerLinkActive]="['is-active']"> SEARCH </a>
    </div>
    <div class="menu__item">
      <a [routerLink]="['/contact-us']" [routerLinkActive]="['is-active']"> CONTACT US </a>
    </div>
    <div class="menu__item">
      <a [routerLink]="['/others']" [routerLinkActive]="['is-active']"> OTHERS </a>
    </div>
  </div>
</div>
