.login-page__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form__container {
  width: 500px;
  display: flex;
  flex-direction: column; 
}