@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/Source_sans_pro/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/Source_sans_pro/SourceSansPro-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/Source_sans_pro/SourceSansPro-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/Source_sans_pro/SourceSansPro-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: fontello;
  src: url("../assets/icons/fontello-cf4d1472/font/fontello.ttf");
}