/* You can add global styles to this file, and also import other style files */
@import './reset';
@import './fonts';

body {
  font-family: 'OpenSans';
  font-size: 14px;
  background-color: #333;
  color: white;
}
